html {
   height: 100%;
   box-sizing: border-box;
}

*, *::before, *::after {
   box-sizing: inherit;
   scroll-behavior: smooth;
}

.visually-hidden {
   position: absolute;
   width: 1px;
   height: 1px;
   margin: -1px;
   border: 0;
   padding: 0;
   clip: rect(0 0 0 0);
   overflow: hidden;
}

body {
   font-family: "Arial", "sans-serif";
   font-size: 16px;
   line-height: 1.5;
   margin: 0;
   padding: 0;
   margin-bottom: 10px;
}


.container {
   max-width: 800px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 70px;
   
}
.top-header {
   display: flex;
   justify-content: space-between;
}

.posport {
   margin-top: 62px;
   margin-bottom: 35px;
}

.img-photos {
   margin-top: 5px;
   margin-bottom: 10px;
}
.img-photos-text{
   margin-top: 30px;
}

.tugulgan-joyi {
   line-height: 17px;
}

.yaqin-qarinfoshi {
   margin-top: 20px;
   margin-bottom: 0;
   text-align: center;
}

.malumot-pastgi-qismi{
   letter-spacing: 2px;
   margin-top: 0;
   font-weight: 400;
   text-align: center;
}

.oqish {
   margin-top: 35px;
}





table, td, th {
   border: 1px solid black;
 }
 .tr-1 {
    /* display: flex; */
    align-items: baseline;
 }
 
 table {
   border-collapse: collapse;
   width: 100%;
 }
 
 th {
   height: 70px;
 }

 .photos{
    color: transparent;
    width: 100px;
    height: 120px;
    background-color: rgb(226, 221, 221);
    margin-bottom: 21px;
 }